{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "ecmaFeatures": {
    "classes": true
  },
  "rules": {
    "react/jsx-filename-extension": ["error", { "extensions": [".js", ".jsx"] }],
    "global-require": "off",
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "import/extensions": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/img-has-alt": "off",
    "jsx-a11y/label-has-for": "off",
    "no-restricted-syntax": "off",
    "jsx-a11y/anchor-has-content": "off",
    "import/prefer-default-export": "off",
    "linebreak-style": 0,
    "no-unused-expressions": "off",
    "react/jsx-one-expression-per-line": 0,
    "react/no-unused-state": 0,
    "react/destructuring-assignment": ["<enabled>", "never"],
    "react/forbid-prop-types": ["error", { "forbid": ["any", "object"]}]
  },
  "env": {
    "browser": true,
    "node": true,
    "jquery": true
  }
}
